<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тестовый проект</title>
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
<textarea id="request-status" cols="80" rows="30" readonly>{% for response_item in responses %}&lt;{{ response_item.request_url.time_to_request|date:"d.m.Y H:i:s" }}&gt;: {{ response_item.get_response_status_display }}
{% endfor %}</textarea>
<textarea id="response-status" cols="80" rows="30" readonly>{% for response_item in responses %}{{ response_item.request_url.url }}{% if response_item.has_content  %} - {{ response_item.response_content }}{% endif %}
{% endfor %}</textarea>
</body>
</html>